* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5rem;
}

.movies {
    height: 10rem;
    width: 10rem;
    margin: 2rem;
}

.price {
    background-color: rgb(247, 84, 33);
    height: 8rem;
    padding: 1.5rem;
    font-size: 2rem;
}

.heading {
    background-color: rgba(0,0,0,0.865);
    height: 2rem;
}

.heading,
.price {
    color: white;
    text-align: center;
    margin: 0;
}

select,
h1 {
    position: fixed;
}

h1 {
    top: 0px;
}

select {
    width: 10rem;
    margin-bottom: 5rem;
}